<!DOCTYPE html>
<html>

<head>
    <title>Register</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="box">

    <h2>Register</h2>

    <!-- ERROR -->
    <div class="error" id="error">
        Username already exists
    </div>

    <!-- SUCCESS -->
    <div class="success" id="success">
        Register success! Please login
    </div>

    <form method="post" action="/register">
        <input name="username" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <button type="submit">Create account</button>
    </form>

    <a href="/login">Go Login</a>

</div>

<script>
    const params = new URLSearchParams(window.location.search);

    if (params.has("error")) {
        document.getElementById("error").style.display = "block";
    }

    if (params.has("success")) {
        document.getElementById("success").style.display = "block";
    }
</script>

</body>
</html>